* {
    font-family: Helvetica, sans-serif;
}
body{
    background-color: beige;
}
h1 {
    color: grey;
    background-color: lightblue;
    text-align: center;
    padding: 20px;
    border: 10px solid darkblue;
    margin: 5px;
}

.links{
    color: grey;
    font-size: 20px;
    border: 5px solid black;
    padding:20px;
    margin: 20px;
    background-color: white;
}
/* styles specificially for recipe pages*/

img {
    height: auto;
    width: 500px;
    margin-left: 50px;
}

h2 {
    background-color: lightblue;
    color: darkblue;
    padding: 20px;
    border: 2px solid white;
    margin-bottom: 0;
}

p, 
ul, 
ol {
    background-color: aliceblue;
    padding: 20px;
    border: 1px solid black;
    margin: 3px 20px 30px 20px;
}
/*Description*/
p {
    font-size: 20px;
}

/*Ingredients list*/
ul {
    color: blueviolet;
    font-weight: bold;
    
}
/*Steps list*/
ol {
    color: red;
}